@import 'tailwindcss';

@font-face {
  font-family: 'orbitron';
  src: url(../assets/fonts/orbitron-variablefont_wght-webfont.woff2);
}

@font-face {
  font-family: 'saira';
  src: url(../assets/fonts/saira-variablefont_wdthwght-webfont.woff2);
}

@theme {
  /* Fonts */
  --font-orbitron: 'orbitron', arial;
  --font-saira: 'saira', arial;

  /* Colors */
  --color-blue: #92b0e0;
  --color-green: #88a688;
  --color-red: #ff7777;
  --color-yellow: #ffcc77;
}

@utility grid-lines {
  z-index: -80;
  background:
    linear-gradient(to right, rgb(53, 65, 53, 0.6) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(53, 65, 53, 0.6) 1px, transparent 1px);
  background-size: 25px 25px;
}
