@import 'tailwindcss';

@font-face {
  font-family: 'michroma';
  src: url(../assets/fonts/michroma-regular-webfont.woff2);
}

@theme {
  /* Fonts */
  --font-michroma: 'michroma';
  /* Colors */
  --color-blue: #92b0e0;
  --color-green: #88a688;
  --color-red: #ff7777;
  --color-yellow: #ffcc77;
}
