@import 'tailwindcss';

@font-face {
  font-family: 'orbitron';
  src: url(../assets/fonts/orbitron-variablefont_wght-webfont.woff2);
}

@theme {
  /* Fonts */
  --font-orbitron: 'orbitron', arial;

  /* Colors */
  --color-blue: #92b0e0;
  --color-green: #88a688;
  --color-red: #ff7777;
  --color-yellow: #ffcc77;
}
