@import 'tailwindcss';

@font-face {
  font-family: 'orbitron';
  src: url(../assets/fonts/orbitron-variablefont_wght-webfont.woff2);
}

@font-face {
  font-family: 'saira';
  src: url(../assets/fonts/saira-variablefont_wdthwght-webfont.woff2);
}

@theme {
  /* Fonts */
  --font-orbitron: 'orbitron', arial;
  --font-saira: 'saira', arial;

  /* Colors */
  --color-blue: #92b0e0;
  --color-green: #88a688;
  --color-red: #ff7777;
  --color-yellow: #ffcc77;
}

@utility yellow-stripes {
  --color: #ffcc77;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 20px,
    var(--color) 20px,
    var(--color) 40px
  );
}
